<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head')%>
</head>

<body>
    <header><%- include('../partials/header')%></header>
    <nav><%- include('../partials/nav')%></nav>
    <div class="container">
        <div class="form-addcardapio">
            <form action="/addcardapio" method="post">
                <div class="form-addcardapio-content">
                    <h2 class="form-addcardapio-titulo">Cadastro de Cardápio</h2>
                    <div class="form-addcardapio-inputs">
                        <label for="descricao">Descrição do Cardápio:</label>
                        <textarea name="descricao" id="descricao" class="form-control-addcardapio"><%=cardapio.descricao%></textarea>
                        <label for="imagem">Link da imagem:</label>
                        <input type="text" class="form-control-addcardapio" name="imagem" id="imagem"
                            placeholder="Valor:" required value="<%=cardapio.imagem%>"/>
                        <label for="valor">Valor:</label>
                        <input type="number" class="form-control-addcardapio" name="valor" id="valor"
                            placeholder="Valor:" required value="<%=cardapio.valor%>"/>
                    </div>

                    <div class="form-addcardapio-inputs-radio">
                        <label for="tipo">Tipo do Cardápio:</label>
                        <div>
                            <input type="radio" id="onivoro" value="onivoro" name="tipo" required />
                            <label for="onivoro" class="legenda">Onívoro</label>
                        </div>
                        <div>
                            <input type="radio" id="veget" value="vegetariano" name="tipo" />
                            <label for="veget" class="legenda">Vegetariano</label>
                        </div>
                        <div>
                            <input type="radio" id="vegan" value="vegano" name="tipo" />
                            <label for="vegan" class="legenda">Vegano</label>
                        </div>
                    </div>

                    <div class="form-addcardapio-inputs-dia">
                        <span>Dia do Cardápio:</span>

                        <label class="legenda">
                            <input type="radio" id="segunda" value="segunda-feira" name="dia" required />
                            segunda-feira
                        </label>

                        <label class="legenda">
                            <input type="radio" id="terça" value="terça-feira" name="dia" />
                            terça-feira
                        </label>

                        <label class="legenda">
                            <input type="radio" id="quarta" value="quarta-feira" name="dia" />
                            quarta-feira
                        </label>

                        <label fclass="legenda">
                            <input type="radio" id="quinta" value="quinta-feira" name="dia" required />
                            quinta-feira
                        </label>

                        <label class="legenda">
                            <input type="radio" id="sexta" value="sexta-feira" name="dia" />
                            sexta-feira
                        </label>
                    </div>
                    
                    <div class="form-addcardapio-buttons">
                        <input type="submit" class="button" name="button" value="<%=acao%>" />
                        <a href="/curso" class="button">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer><%- include('../partials/footer')%></footer>
    <script src="js/addcevent.js"></script>

</body>

</html>