<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head')%>
</head>

<body>
    <header><%- include('../partials/header')%></header>
    <nav><%- include('../partials/nav')%></nav>
    <div class="container">
        <div class="form-addcurso">
            <form action="/addrestricao" method="post">
                <div class="form-addcurso-content">
                    <h2 class="form-addcurso-titulo">Cadastro de Restrição</h2>
                    <div class="form-addcurso-inputs">
                        <label for="nome">Nome da Restrição:</label>
                        <input type="text" class="form-control-addcurso" name="nome" id="nome" value="<%=restricao.nome%>"required />
                    </div>


                    <div class="form-addcurso-buttons">
                        <input type="submit" class="button" name="button" value="<%=acao%>" />
                        <a href="/listarestricoes"  class="button">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer><%- include('../partials/footer')%></footer>
</body>

</html>