<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head')%>
</head>

<body>
    <header><%- include('../partials/header') %></header>
    <nav><%- include('../partials/nav') %></nav>

    <div class="container">
        <h1 class="curso-h1">Alimentos</h1>
        <hr class="curso-hr" />
        <div class="form-curso">
            <div class="form-curso-content">
                <form action="filtrarAlimentos" method="post">
                    <div class="form-curso-filtro">
                        <label for="filtro" style="margin-left: 15px">Filtro:</label><br />
                        <input type="text" name="filtro" id="filtro" />
                        <button type="submit" id="filtrar">Filtrar</button>
                    </div>
                </form>
                <form action="/alimentos" method="post">

                    <div class="form-curso-buttons">
                        <input type="submit" id="inserir" class="buttons" name="button" value="Novo Alimento" />
                        <input type="submit" id="atualizar" class="buttons" name="button" value="Atualizar Alimento" />
                        <input type="submit" id="excluir" class="buttons" name="button" value="Excluir Alimento" />
                    </div>
                    <div class="form-curso-table">
                        <table id="curso-table-content">
                            <tr>
                                <th>Seleção</th>
                                <th>Nome</th>
                                <th>Unidade</th>
                                <th>Valor Nutricional</th>
                            </tr>

                            <% alimento.forEach((a, index)=> { %>
                                <tr>
                                    <td><input type="radio" name="opcao" value="<%=a.id_alimento%>" /></td>

                                    <td>
                                        <%= a.nome %>
                                    </td>
                                    <td>
                                        <%= a.unidade %>
                                    </td>
                                    <td>
                                        <%= a.valor_nutricional %>
                                    </td>
                                </tr>
                                <% }) %>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer')%>
    </footer>
</body>

</html>