<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head')%>
</head>

<body>
    <header><%- include('../partials/header')%></header>
    <nav><%- include('../partials/nav')%></nav>
    <div class="container">
        <div class="form-cadastro">
            <form action="/attcadastro" method="post">
                <div class="form-cadastro-content">
                    <h2 class="form-cadastro-titulo">Atualizar Cadastro</h2>
                    <div class="form-cadastro-inputs">
                        <input type="text" class="form-control" name="nome" placeholder="Primeiro nome:" required
                             value="<%=usuario.nome%>"/>

                        <input type="text" class="form-control" name="sobrenome" placeholder="Sobrenome:" required
                             value="<%=usuario.sobrenome%>"/>

                        <input type="number" class="form-control" name="matricula" placeholder="Matricula:" required value="<%=usuario.matricula%>"/>

                        <input type="tel" class="form-control" name="telefone" placeholder="Telefone:" required
                             value="<%=usuario.telefone%>"/>

                        <input type="text" class="form-control" name="cpf" placeholder="CPF:" required
                             value="<%=usuario.cpf%>"/>

                        <input type="email" class="form-control" name="email" placeholder="Email:" required value="<%=usuario.email%>"/>


                    </div>
                    <div class="form-cadastro-select">
                        <select type="text" name="curso" class="select" required>
                            <option value="#" disabled selected>Selecione seu curso:</option>
                            <%cursos.forEach((c)=>{%>
                                <option value="<%= c.id_curso %>" <% if (c.nome === usuario.nome_curso) { %> selected <% } %> >
                                    <%= c.nome %>
                                </option>
                            <%})%>
                        </select>
                    </div>
                    <div class="form-cadastro-inputs-radio">
                        <p>Você se identifica como:</p>
                        <div>
                            <input type="radio" id="onivoro" value="onivoro" name="escolha" required <%if(usuario.caracteristica_alimenticia == "onivoro"){%>checked<%}%> />
                            <label for="onivoro" class="legenda">Onívoro</label>
                        </div>
                        <div>
                            <input type="radio" id="veget" value="vegetariano" name="escolha" <%if(usuario.caracteristica_alimenticia == "vegetariano"){%>checked<%}%> />
                            <label for="veget" class="legenda">Vegetariano</label>
                        </div>
                        <div>
                            <input type="radio" id="vegan" value="vegano" name="escolha"<%if(usuario.caracteristica_alimenticia == "vegano"){%>checked<%}%>  />
                            <label for="vegan" class="legenda">Vegano</label>
                        </div>
                    </div>
                    <%if(adm){%>
                    <div class="admcheck">
                        <span>Perfil do usuário:</span>  
                        <br>                                              
                        <label for="isadm">Adm</label>
                        <input type="radio" name="isadm" id="isadm" value="adm" <%if(usuario.perfil == "adm"){%>checked<%}%>>                      
                        <label for="isuser">User</label>
                        <input type="radio" name="isadm" id="isuser" value="user" <%if(usuario.perfil == "user"){%>checked<%}%>>                      
                    </div>
                    <%}%>
                    
                    <div class="form-cadastro-buttons">
                        <input type="submit" class="button" name="button" value="Enviar" />
                        <a href="<%=link%>" class="button">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer><%- include('../partials/footer')%></footer>
</body>

</html>