<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <nav>
        <%- include('../partials/nav') %>
    </nav>

    <div class="container">
        <div class="restricoes-cabecario">
            <h1>Restrições Alimentares:</h1>
            <hr>
        </div>
        <div class="form-addrestricoes">
            <form action="/restricao" method="post">
                <div class="form-addrestricoes-content">
                    <label class="form-addrestricoes-content-label" for="addrestricao">Adicionar restrição</label>
                    <input class="form-addrestricoes-content-input" list="addrestricao" name="addrestricao" >
                    <datalist id="addrestricao">
                        <%lista.forEach((l)=>{%>
                            <option value="<%=l.nome_restricao%>"></option>

                        <%})%>
                    </datalist>
                    <input class="form-addrestricoes-content-enviar" type="submit" value="Enviar">
                </div>
            </form>
        </div>
        <div class="form-restricoes-inputs">
            <form action="/delrestricao" method="post">
                <div class="form-restricoes-inputs-content">
                    <h2 style="width: 100%;">Minhas restrições</h2>
                    <%restricoes.forEach((r)=>{%>
                        <label class="custom-checkbox">
                            <input type="checkbox" name="opcao" value="<%=r.restricao_alimentar_id_restricao%>">
                            <span class="checkmark"></span>
                            <%=r.nome_restricao%>
                        </label>
                    <%})%>
                    <div class="restricao-deletar-div">
                        <input class="restricao-deletar" type="submit" value="Deletar">
                    </div>
                </div>

            </form>

        </div>
    </div>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>