<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head')%>
</head>

<body>
    <header>
        <%- include('../partials/header')%>
    </header>
    <nav>
        <%- include('../partials/nav')%>
    </nav>
    <div class="container">
        <div class="card-conclusao">
            <div class="card-conclusao-content">
                <h2><%=mensagem%></h2>
                <div class="form-conclusao">
                        <div class="form-conclusao-content">
                            <a href="<%=link%>" class="voltar" >Voltar</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer')%>
    </footer>
</body>

</html>